.input {
  padding: 20px;
  background-color: #eee;
  margin: 20px auto;
  display: flex;
  width: 400px;
}
.input input {
  flex: 1;
}
.input .add {
  background-color: orangered;
  color: white;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-left: 20px;
}

.listelement {
  background-color: #eee;
  margin: 20px auto;
  width: 400px;
  padding: 20px;
}
